* {
    background-color: pink;
    border: solid brown;
    border-width: 1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

h1 {
    display: inline-block;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

nav > ul {
    list-style: none;
    background-color: khaki;
}
nav > ul > li {
    display: inline;
}

h2 {
    font-size: 2em;
}
p {
    font-size: 5em;
}
